<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Juego de preguntas</title>
</head>

<body>
    <main style="width:700px; padding: 15px;">
        <h1>Pregunta numero <span th:text="${numero+1}"></span></h1>
        <br>
        <h3 th:text="${question.pregunta}"></h3>
        <br>
        <form action="#" method="post" th:action="@{/game/answer}" th:object="${formQuestion}">
            <p th:each="elem, iter : ${question.opciones}"><input type="radio" th:field="*{respuesta}" th:value="${iter.count}" th:text="' '+${elem}"> </p>
            <br>
            <input type="submit" value="Responder"> <a class="btn btn-primary btn-block" th:href="@{/}">Volver al inicio</a>
        </form>
    </main>
</body>

</html>